<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "/css/style.css">
    <title>Rainbow High School Yearbook Website</title>
</head>
<body>
    <h1>RAINBOW HIGH SCHOOL: PRIDE OF LIECHTENSTEIN</h1>
    <nav>
        <a href="/">Home</a>  |
        <a href="/students">Students</a> | 
        <a href="/gradClasses">Graduating Classes</a> | 
        <a href="/clubs">Clubs</a> | 
        <a href="/sports">Sports</a> | 
        <a href="/events">Events</a> | 
        <a href="/clubMemberships">Club Memberships</a>  | 
        <a href="/sportMemberships">Sport Memberships</a> | 
        <a href="/eventMemberships">Event Memberships</a>
    </nav>
    {{{body}}}
</body>
<footer>
    <p>&copy; CS340 Group 26 (Katie Kimura, Skylar Soon, Annabel Wang) </p>
</footer>
</html>