<h2>Clubs</h2>
<table id="club-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        {{!-- NOTE: attributes of 'this' need to match however they are aliased in the SELECT statement in app.js. Have to put them in [] since there are spaces --}}
        <tr>
            <td>{{this.[Club ID]}}</td>
            <td>{{this.[Club Name]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table --}}
<h2>Add a new club</h2>
<p>To add a new club, please enter their information below and click 'Submit'!</p>
<form id="add-club-form-ajax">

    <label for="input-club-name">Club Name: </label>
    <input type="text" name="input-club-name" id="input-club-name">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_club.js"></script>