<h2>Clubs</h2>
<table>
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        {{!-- NOTE: attributes of 'this' need to match however they are aliased in the SELECT statement in app.js. Have to put them in [] since there are spaces --}}
        <tr>
            <td>{{this.[Club ID]}}</td>
            <td>{{this.[Club Name]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>