/* CSS Document */

:root {
    --lightGray: #d3d3d3;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: var(--lightGray);
}

th, td {
    padding: 0.5em;
    text-align: left;
}


.aboutBody{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    outline: solid black;
    margin-top: 20px;
}

.navbar{
    margin: 30px;
    margin-left: 5px;
}

#rainbowImage{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

